<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reporting API</title>
  </head>
  <body>
    <% if (typeof xAuthCode !== 'undefined') { %>
    <table id="response-table">
      <tr>
        <th>xCommand</th>
        <th>xAmount</th>
        <th>xCardType</th>
        <th>xBeginDate</th>
        <th>xEndDate</th>
        <th>xCardLastFour</th>
        <th>xRefNum</th>
      </tr>

      <% try { %> <% data.forEach(function(item) { %>
      <tr>
        <td><%= item.xCommand %></td>
        <td><%= item.xAmount %></td>
        <td><%= item.xCardType %></td>
        <td><%= item.xBeginDate %></td>
        <td><%= item.xEndDate %></td>
        <td><%= item.xCardLastFour %></td>
        <td><%= item.xRefNum %></td>
      </tr>
    </table>
    <% }); %> <% } catch (error) { %>
    <div id="error-message">Error: <%= error.message %></div>
    <% } %>

    <script src="select.js"></script>
  </body>
</html>
